# Pinepods Configuration
# Secrets - keep private

# Database credentials
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=pinepods_database
DB_HOST=db
VALKEY_HOST=valkey

# App admin
USERNAME=admin
PASSWORD=changeme
FULLNAME=Admin User
EMAIL=admin@example.com
