# Pinepods Configuration
# Secrets - keep private

# Database credentials
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=pinepods_database

# App admin
USERNAME=admin
PASSWORD=changeme
FULLNAME=Admin User
EMAIL=admin@example.com

# Tailscale
TS_AUTHKEY=tskey-auth-YOUR_AUTH_KEY
TAILNET_NAME=your-tailnet-name
