# Donetick Configuration
# Secrets - keep private

# Environment
DT_ENV=selfhosted
DT_SQLITE_PATH=/donetick-data/donetick.db

# Timezone
TZ=Europe/Berlin

# Tailscale
TS_AUTHKEY=tskey-auth-YOUR_AUTH_KEY
TAILNET_NAME=your-tailnet-name
