# Neko Configuration
# Secrets - keep private

# Networking
SERVER_TAILNET_IP=100.x.x.x # use the tailscale address of the HOST machine, the server ip, not the ip of the neko-ts tailscale docker container

# Authentication
ADMIN_PASSWORD=changeme
USER_PASSWORD=changemetoo

# Tailscale
TS_AUTHKEY=tskey-auth-YOUR_AUTH_KEY
TAILNET_NAME=your-tailnet-name
