// SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
//
// SPDX-License-Identifier: AGPL-3.0-or-later

module.exports = {
    httpUnsafeOrigin: 'https://cloud.server.netbird.cloud',
    httpSafeOrigin: 'https://sandbox.server.netbird.cloud',
    httpAddress: '0.0.0.0',
    adminKeys: [],
    installMethod: 'docker',
};
